<ng2-slim-loading-bar color="blue" height="5px" progress=10></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm" bg-light>
 <div class="container-fluid">
   <ul class="navbar-nav">
    <!--Navbar: Adicionar Funcionário-->
    <li class="nav-item">
      <a routerLink="funcionario/create" class="nav-link" routerLinkActive="active">Adicionar Funcionários</a>
    </li>
    <!--Navbar: Listar funcionario-->
    <li class="nav-item">
      <a routerLink="funcionario" class="nav-link" routerLinkActive="active">Listar Funcionários</a>
    </li>
   </ul>

 </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
